body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    
}

:root{
--white: #FFFFFF;
--black: #000000;
--dark: #232830;
--very-light-pink: #C7C7C7;
--text-input-field: #F7F7F7;
--hospital-green: #08a01c;
--sm: 14px;
--md:16px;
 --lg:18px; 

}
.menu{
    display: none;

}
.logo{
    width: 100px;

}
.navbar-left ul, .navbar-right ul{
   list-style: none;
   padding: 0px;
   margin: 0px;
   display: flex;
   align-items: center;
   height: 60px;
}
.navbar-left {
   
    display: flex;
}
.navbar-left ul {
   
    margin-left: 12px;
}
nav{
    justify-content:space-between ;
    display: flex;
    padding: 0 24px ;
    border-bottom:1px solid var(--very-light-pink) ;
}
.navbar-left{
    display: flex;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.navbar-chopping-car{
    position: relative;

}
.navbar-chopping-car div{
width: 16px;
height: 16px;
background-color: var(--hospital-green);
border-radius: 50%;
font-size: var(--sm);
font-weight: bold;
position: absolute;
top: 0px;
right: -6px;
display: flex;
justify-content: center;
align-items: center;

}
.navbar-email{
    margin-right: 12px;
}
@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
}